<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="apple.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Managing Food Waste">
    <meta name="keywords" content="FoodWaste, Organization, Business, homeowners">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="I. Justino, J. Helander, V. Frydkjaer">
    <meta http-equiv="refresh" content="1200">
    <title>Madspild</title>
</head>

<body>

<nav>

    <section class="apple-box">
        <a th:href="@{'/'}" title="Home" target="_blank">
            <img id="apple" class="Apple"
                 src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/1990501/apple-clipart-sm.png">
        </a>
    </section>
    <ul class="negative-margin">
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/homeowners'}" title="Tips og tricks til private!">Privatperson</a>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/business'}" title="info til erhverv">Erhverv</a>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/foodwaste'}" title="Info om madspild">Om Madspild</a>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/about'}" title="Info om os">Om os</a>
        </li>
    </ul>
</nav>
<div id="welcome">
    <header>
    </header>
</div>

<div class="flex-parent">

    <section class="left">
        <header id="info-setup">
            Vores Mål:
        </header>
        <ul>
    <li>
    </li>
        </ul>

    </section>


</div>


</body>
</html>