<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Managing Food Waste">
    <meta name="keywords" content="FoodWaste, Organization, Business, homeowners">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="I. Justino, J. Helander, V. Frydkjaer">
    <meta http-equiv="refresh" content="1200">
    <title>Madspild</title>
</head>

<body>

<nav>
    <ul>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/'}" title="homepage">Index</a>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/homeowners'}" title="Tips og tricks til private!">Privatperson</a>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/business'}" title="info til erhverv">Erhverv</a>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/foodwaste'}" title="Info om madspild">Om Madspild</a>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/about'}" title="Info om os">Om os</a>
        </li>
    </ul>
</nav>
<div id="welcome">
    <header>
    </header>
</div>

<div class="flex-parent">

    <section class="left">
        <header id="info-setup">
            Nyttige Links:
        </header>
        <ul>
            <li><strong><p>
            <a href="https://mfvm.dk/fileadmin/user_upload/FVM.dk/Dokumenter/Landbrug/Indsatser/Madspild/Faktaark/Faktaark_Madspild-i-Danmark_-juni-2011.pdf"target="_blank" title="faktaark 2011 pdf">Faktaark 2011</a>
            </strong></li></p>
            <li><strong><p>
                <a href="https://stopspildafmad.org/om-madspild/madspild-i-tal/" target="_blank" title="StopSpildAfmad"> StopSpildAfMad.org</a>
            </strong></li></p>
        </ul>

    </section>


</div>


</body>
</html>