<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="apple.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Managing Food Waste">
    <meta name="keywords" content="FoodWaste, Organization, Business, homeowners">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="I. Justino, J. Helander, V. Frydkjaer">
    <meta http-equiv="refresh" content="1200">
    <title>Madspild</title>
</head>

<body>

<nav>
    <ul>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/'}" title="homepage">Forside</a>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/homeowners'}" title="Tips og tricks til private!">Privatperson</a>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/business'}" title="info til erhverv">Erhverv</a>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/foodwaste'}" title="Info om madspild">Om Madspild</a>
        </li>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/about'}" title="Info om os">Om os</a>
        </li>
    </ul>
</nav>
<div id="welcome">
    <header>
        <h1>
            Madspilds Guiden
        </h1>
    </header>
</div>

<div class="flex-parent">

    <section class="left">
        <header id="info-setup">
            Om Madspild:<br>

        </header>
        <ul id="textbox">
            <li>
                <strong> ”Sidste anvendelsesdato” betyder,<br>
                    at du kan blive alvorligt syg af at spise fødevaren,<br>
                    hvis datoen er overskredet.<br>
                </strong>
            </li>
            <br>
            <li><strong> ”Bedst før” er til gengæld kun en vejledende datomærkning,<br>
                og hvis varen dufter og smager fint,<br>
                kan du sagtens spise den.</strong><br></li>

            <br>
            <li><strong>
                540.000 tons spiseligt mad bliver hvert år smidt ud i Danmark.<br>
                I kroner svarer det til mindst 8,4 milliarder.
            </strong></li>
            </li>
        </ul>
    </section>

    <section>
        <a href="https://www.youtube.com/embed/dQw4w9WgXcQ?start=43" title="About Page" target="_blank">
            <img class="Apple"
                 src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/1990501/apple-clipart-sm.png">
        </a>
        <!--  <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?start=43" title="YouTube video player" frameborder="0" allow="accelerometer;
         autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    </section>
</div>

<footer>
    
    Organization Danmark mod Madspild!
    ørstedvej 1234, 2500 Valby
</footer>
</body>
</html>