<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Managing Food Waste">
    <meta name="keywords" content="FoodWaste, Organization, Business, homeowners">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="I. Justino, J. Helander, V. Frydkjaer">
    <meta http-equiv="refresh" content="1200">
    <title>Madspild.dk</title>
</head>

<body>

<nav>
    <ul>
        <li class="nav-menu">
            <a class="nav-link" th:href="@{'/HO'}" title="Big Anime Tiddies">Menupunkt 1</a>
        </li>
        <li class="nav-menu" >
            <a class="nav-link" th:href="@{'/Business'}" title="Fuuuuuuck">Menupunkt 2</a>
        </li>
        <li class="nav-menu">
            Menupunkt 3
        </li>
        <li class="nav-menu">
            Menupunkt 4
        </li>
    </ul>
</nav>
<div id="welcome">
    <header>
        <h1>
            Madspilds Guiden
        </h1>
    </header>
</div>

<div class="flex-parent">

    <section class="left">
        <header id="info-setup">
            About Foodwaste:
        </header>
       <ul>

       </ul>

    </section>

    <section>
        <a th:href="@{'/about'}" title="About Page">
            <img class="Apple"
                 src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/1990501/apple-clipart-sm.png">
        </a>
    </section>

</div>


</body>
</html>